<div class="search-flight__container">
    <md-card class="home-search-card">
        <md-card-content>
            <h2 class="md-title">Search Flight</h2>
            <md-tabs md-dynamic-height md-border-bottom  md-selected="selectedIndex">
                <md-tab label="Round Way Trip">
                    <form name="flightBookForm" ng-submit="submit()">
                        <div layout="row" layout-margin>
                            <div flex="50">
                                <from-airport formname="flightBookForm" formfieldname="twoWayFromAirport" selecteditem="selectedFrom" searchtext="fromAirport" floatinglabel="From Airport"></from-airport>

                                <md-datepicker ng-change="dateChange()" ng-model="journeyDate"
                                               md-placeholder="Enter journey date" md-min-date="minDate"
                                               md-max-date="maxDate"></md-datepicker>
                            </div>
                            <div flex="50">
                                <from-airport formname="flightBookForm" formfieldname="twoWayToAirport" selecteditem="selectedTo" searchtext="toAirport" floatinglabel="To Airport"></from-airport>

                                <md-datepicker ng-model="returnDate" md-placeholder="Enter return date"
                                               md-min-date="minRetDate" md-max-date="maxRetDate"></md-datepicker>
                            </div>
                        </div>
                        <md-input-container>
                            <label>Select Passengers</label>
                            <md-select name="passengers" ng-model="passengers" required>
                                <md-option value="1">One</md-option>
                                <md-option value="2">Two</md-option>
                                <md-option value="3">Three</md-option>
                                <md-option value="4">Four</md-option>
                                <md-option value="5">Five</md-option>
                            </md-select>
                            <div class="errors" ng-messages="flightBookForm.passengers.$error" ng-if="flightBookForm.$dirty">
                                <div ng-message="required">Required</div>
                            </div>
                        </md-input-container>
                        <div class="md-actions" layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary" ng-disabled="flightBookForm.$invalid">Search</md-button>
                        </div>
                    </form>

                </md-tab>
                <md-tab label="One Way Trip">
                    <form name="oneWayFlightBookForm" ng-submit="submit()">
                        <div layout="row" layout-margin>
                            <div flex="50">
                                <from-airport formname="oneWayFlightBookForm" formfieldname="twoWayFromAirport" selecteditem="selectedFrom" searchtext="fromAirport" floatinglabel="From Airport"></from-airport>
                                <md-input-container>
                                    <label>Select Passengers</label>
                                    <md-select name="passengers" ng-model="passengers" required>
                                        <md-option value="1">One</md-option>
                                        <md-option value="2">Two</md-option>
                                        <md-option value="3">Three</md-option>
                                        <md-option value="4">Four</md-option>
                                        <md-option value="5">Five</md-option>
                                    </md-select>
                                    <div class="errors" ng-messages="oneWayFlightBookForm.passengers.$error" ng-if="oneWayFlightBookForm.$dirty">
                                        <div ng-message="required">Required</div>
                                    </div>
                                </md-input-container>

                            </div>
                            <div flex="50">
                                <from-airport formname="oneWayFlightBookForm" formfieldname="twoWayToAirport" selecteditem="selectedTo" searchtext="toAirport" floatinglabel="To Airport"></from-airport>
                                <md-datepicker ng-model="oneWayjourneyDate" md-placeholder="Enter journey date"
                                               md-min-date="oneWayMinDate"></md-datepicker>
                            </div>

                        </div>
                        <div class="md-actions" layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary" ng-disabled="flightBookForm.$invalid">Search</md-button>
                        </div>
                    </form>
                </md-tab>

            </md-tabs>
        </md-card-content>

    </md-card>
</div>