<form name="searchForm" ng-submit="submit()">
    <md-card>
        <md-card-content>
            <h2 class="md-title">Search Flight</h2>

                <div layout="row" layout-margin>
                    <div flex="50">
                        <from-airport formname="searchForm" formfieldname="twoWayFromAirport" selecteditem="selectedFrom" searchtext="fromAirport" floatinglabel="From Airport" isdisabled="true"></from-airport>
                    </div>
                    <div flex="50">
                        <from-airport formname="searchForm" formfieldname="twoWayToAirport" selecteditem="selectedTo" searchtext="toAirport" floatinglabel="To Airport" isdisabled="true"></from-airport>
                    </div>
                </div>

        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-disabled="searchForm.$invalid">Search</md-button>
        </div>
    </md-card>
</form>

<md-data-table-toolbar>
    <h2 class="md-title">Flights</h2>
</md-data-table-toolbar>
<md-input-container flex>
    <label>Search</label>
    <input ng-model="query.filter">
</md-input-container>
<md-data-table-toolbar class="alternate" ng-show="selected.length">
    <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
</md-data-table-toolbar>
<md-data-table-container>
    <table md-data-table md-row-select="selected" md-progress="deferred">
        <thead md-order="query.order">
        <tr>
            <th name="Depart" order-by="depart"></th>
            <th name="Duration" order-by="duration"></th>
            <th name="Arrival"  order-by="arrival"></th>
            <th name="Airlines"  order-by="airlines"></th>
            <th numeric name="Price"  order-by="price"></th>
        </tr>
        </thead>
        <tbody>
        <tr md-auto-select ng-repeat="flight in searchedFlightDetails.flights | filter:query.filter | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
            <td>{{flight.depart}}</td>
            <td>{{flight.duration}}</td>
            <td>{{flight.arrival }}</td>
            <td>{{flight.airlines }}</td>
            <td>{{flight.price }}</td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>
<md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{searchedFlightDetails.flights.length}}" ng-click="loadStuff()"></md-data-table-pagination>
