.carddemoBasicUsage md-card {
    min-height: 150px; }
.md-datepicker-input{
    max-width: 100%;
    width: 320px;
}
.searchForm{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.home-search-card{
    width: 50%;
}