.carddemoBasicUsage md-card {
    min-height: 150px; }
.md-datepicker-input{
    max-width: 100%;
    width: auto;
}
.search-flight__container{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.home-search-card{
    width: 50%;
}
.custom-table{
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.custom-table div{
    width: 20%;
}
.searched-flight-container .card-color{
    background-color: rgb(3,169,244);
    color: rgba(0,0,0,0.87);
}